PORT=3000
API_PREFIX=api

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=pet_user
DB_PASSWORD=pet_password
DB_NAME=pet_project_node
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=false

JWT_ACCESS_SECRET=change_me_access_secret_at_least_32_chars
JWT_REFRESH_SECRET=change_me_refresh_secret_at_least_32_chars
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

BCRYPT_SALT_ROUNDS=10
